* {
  box-sizing: border-box;
  /* background-color: blue; */
}

header {
  height: 20vh;
  width: 100vw;
}

main {
  height: 80vh;
  width: 100vw;
}

div.grid{
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

div.grid-item {
  width: 25px;
  height: 25px;
  border: 1px solid black;
}

div.grid-item.player {
  background-color: blue;
}